{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
{% if request.user.user_type == '1' %}
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}" class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View/Edit Profile

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_manager' as add_manager %}
                    <a href="{{add_manager}}" class="nav-link {% if add_manager == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Manager

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manage_manager' as manage_manager %}
                    {% url 'edit_manager' manager_id as edit_manager %}
                    <a href="{{manage_manager}}"
                        class="nav-link {% if manage_manager == request.path or request.path == edit_manager %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Manager

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_employee' as add_employee%}
                    <a href="{{add_employee}}" class="nav-link  {% if add_employee == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Employee

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_employee' as manage_employee %}
                    {% url 'edit_employee' employee_id as edit_employee %}

                    <a href="{{manage_employee}}"
                        class="nav-link  {% if edit_employee == request.path or manage_employee == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Employee

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_division' as add_division %}
                    <a href="{{add_division}}" class="nav-link  {% if add_division == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Division

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_division' as manage_division %}
                    {% url 'edit_division' division_id as edit_division %}
                    <a href="{{manage_division}}"
                        class="nav-link  {% if edit_division == request.path or manage_division == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Division

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'add_department' as add_department %}
                    <a href="{{add_department}}" class="nav-link  {% if add_department == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Department

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manage_department' as manage_department %}
                    {% url 'edit_department' department_id as edit_department %}
                    <a href="{{manage_department}}"
                        class="nav-link  {% if edit_department == request.path or manage_department == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Department

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_attendance' as admin_view_attendance %}

                    <li class="nav-item">
                        <a href="{{admin_view_attendance}}" class="nav-link  {% if admin_view_attendance == request.path %} active {% endif %}">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                View Attendance
                            </p>
                        </a>
                    </li>  
            <li class="nav-item">
                {% url 'employee_feedback_message' as employee_feedback_message %}

                <a href="{{ employee_feedback_message }}" class="nav-link  {% if employee_feedback_message == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Employee Feedback
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                {% url 'manager_feedback_message' as manager_feedback_message %}

                    <a href="{{manager_feedback_message}}" class="nav-link   {% if manager_feedback_message == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manager Feedback
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                {% url 'view_manager_leave' as view_manager_leave %}

                    <a href="{{view_manager_leave}}" class="nav-link  {% if view_manager_leave == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manager Leave
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                {% url 'view_employee_leave' as view_employee_leave %}

                    <a href="{% url 'view_employee_leave' %}" class="nav-link  {% if view_employee_leave == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Employee Leave
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_notify_manager' as admin_notify_manager %}
                    <a href="{{admin_notify_manager}}" class="nav-link {% if admin_notify_manager == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Notify Manager

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_notify_employee' as admin_notify_employee %}
                    <a href="{{admin_notify_employee}}" class="nav-link {% if admin_notify_employee == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Notify Employee

                        </p>
                    </a>
                </li>
{% elif request.user.user_type == '2' %}
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Manager Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'manager_home' as manager_home %}
                    <a href="{{manager_home}}" class="nav-link {% if manager_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manager_view_profile' as manager_view_profile %}
                    <a href="{{manager_view_profile}}" class="nav-link {% if manager_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View/Edit Profile

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manager_add_salary' as manager_add_salary %}
                    <a href="{{manager_add_salary}}" class="nav-link {% if manager_add_salary == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Salary

                        </p>
                    </a>
                </li>  
                 <li class="nav-item">
                    {% url 'edit_employee_salary' as edit_employee_salary %}
                    <a href="{{edit_employee_salary}}" class="nav-link {% if edit_employee_salary == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Edit Salary

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manager_take_attendance' as manager_take_attendance %}
                    <a href="{{manager_take_attendance}}" class="nav-link {% if manager_take_attendance == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Take Attendance

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manager_update_attendance' as manager_update_attendance %}
                    <a href="{{manager_update_attendance}}" class="nav-link {% if manager_update_attendance == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View/Update Attendance

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manager_view_notification' as manager_view_notification %}
                    <a href="{{manager_view_notification}}" class="nav-link {% if manager_view_notification == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           View Notifications

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manager_apply_leave' as manager_apply_leave %}
                    <a href="{{manager_apply_leave}}" class="nav-link {% if manager_apply_leave == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           Apply For Leave

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manager_feedback' as manager_feedback %}
                    <a href="{{manager_feedback}}" class="nav-link {% if manager_feedback == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           Feedback

                        </p>
                    </a>
                </li>
          
{% else %}
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        
        <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Employee Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'employee_home' as employee_home %}
                    <a href="{{employee_home}}" class="nav-link {% if employee_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'employee_view_profile' as employee_view_profile %}
                    <a href="{{employee_view_profile}}" class="nav-link {% if employee_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View/Edit Profile

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'employee_view_salary' as employee_view_salary %}
                    <a href="{% url 'employee_view_salary' %}" class="nav-link {% if employee_view_salary == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            View Salary
                        </p>
                    </a>
                </li>
          
                <li class="nav-item">
                    {% url 'employee_view_attendance' as employee_view_attendance %}
                    <a href="{{employee_view_attendance}}" class="nav-link {% if employee_view_attendance == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>View Attendance</p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'employee_view_notification' as employee_view_notification %}
                    <a href="{{employee_view_notification}}" class="nav-link {% if employee_view_notification == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           View Notifications

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'employee_apply_leave' as employee_apply_leave %}
                    <a href="{{employee_apply_leave}}" class="nav-link {% if employee_apply_leave == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           Apply For Leave

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'employee_feedback' as employee_feedback %}
                    <a href="{{employee_feedback}}" class="nav-link {% if employee_feedback == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           Feedback

                        </p>
                    </a>
                </li>
          
{% endif %}



<li class="nav-item">
    <a href="{% url 'user_logout' %}" onclick="return confirm('Your session would be terminated.\n\nProceed?')" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Logout
        </p>
    </a>
</li>
</ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
