{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
       
                <!-- /.card -->
<div class="card card-primary">
    <div class="card-header"><h3 class="card-title">{{page_title}}</h3>
    </div>
   <div class="table p-2">

       <table class="table table-bordered">
           <tr>
               <th>ID</th>
               <th>Department</th>
               <th>Base Salary</th>
               <th>CTC</th>
               <th>Total</th>
        </tr>
        {% for salary in salarys %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ salary.department }}</td>
            <td>{{ salary.base }}</td>
            <td>{{ salary.ctc }}</td>
            <td>{{ salary.base|add:salary.ctc }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}